<mat-toolbar color="primary" *ngIf="!isAuthRoute" >
  <a [routerLink]="'/home'" > Tasty Recipes </a>
  <span class="spacer"></span>
  <a mat-button *ngIf="token" routerLink="/home">Home</a>
  <!-- <a mat-button routerLink="/recipes">Recipes</a> -->
  <a mat-button *ngIf="token" routerLink="/add-recipe">Add Recipe</a>
  <a mat-button *ngIf="!token" routerLink="/login">Login</a>
  <a mat-button *ngIf="!token" routerLink="/register">Register</a>
  <a mat-button *ngIf="token" (click)="logout()" routerLink="/login">LogOut</a>
</mat-toolbar>
