<!-- <h1>Add recipe</h1> -->
<form style="display: block; margin: auto;" class="mt-5" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input recipe name with min 3 caracters!">
      <input nz-input formControlName="name" id="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input recipe description!">
      <textarea nz-input formControlName="description" id="description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Image</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please upload an image or provide a link!">
      <input type="file" (change)="onFileChange($event)" />
      <img *ngIf="validateForm.controls.image.value" [src]="validateForm.controls.image.value" alt="Recipe Image" style="max-height: 150px; margin-top: 10px;" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Ingredients</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input ingredients!">
      <textarea nz-input formControlName="ingredients" id="ingredients"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Instructions</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input instructions!">
      <textarea nz-input formControlName="instructions" id="instructions"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Add Recipe</button>
    </nz-form-control>
  </nz-form-item>
</form>
