<div class="home-container">

  <input 
  type="text" 
  placeholder="Search recipes..." 
  [(ngModel)]="searchQuery" 
  (input)="onSearch()"
/>

  <app-recipe-card-list [recipes]="filteredRecipes"></app-recipe-card-list>

  
  <!-- <div class="hero-section">
    <div class="hero-content">
      <h1>Welcome to  Tasty Recipes  </h1>
      <p>Discover amazing recipes from all over the world.</p>
      <button class="cta-button" (click)="navigateToRecipes()">Start Cooking</button>

    </div>
    <div class="hero-image">
      <img src="assets/Cooking.jpg" alt="Delicious Food" />
    </div>
  </div> -->
</div>
