<nz-table #basicTable [nzBordered]="true" [nzData]="recipes" [nzSize]="'middle'">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of basicTable.data">
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.description }}</td>
        <td><img [src]="recipe.image" alt="Recipe Image" style="width: 50px; height: auto;"></td>
        <td>
          <button nz-button nzType="primary" nzShape="round" (click)="viewRecipe(recipe)"><span nz-icon nzType="eye" nzTheme="outline"></span></button>
          <button nz-button nzType="primary" nzShape="round" (click)="editRecipe(recipe)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
          <button nz-button nzType="primary" nzShape="round" nzDanger (click)="deleteRecipe(recipe.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  